<div class="contact_container">

  <div class="contact_ticker">
    <p>There are <u>5</u> contacts</p>
  </div>

  <ul>
   <% @contacts.each do |contact| %>
      <li class = "contact_item"><%="#{contact.first_name}"%> <%="#{contact.last_name}"%> (<%="#{contact.email}"%>)
        <p><a class="edit_delete" href="...">Edit</a> | <a class="edit_delete" href="...">Delete</a></p>
      </li>
   <%end%>
  </ul>

</div>
