<div class="contact_container">

  <div class="contact_ticker">
    <p>There are <u>5</u> contacts</p>
  </div>

  <ul>
   <% @contacts.each do |contact| %>
      <li class = "contact_item">Name: <%="#{contact.first_name}"%> <%="#{contact.last_name}"%> (Email: <%="#{contact.email}"%>)
        <p><a href="...">Edit</a> | <a href="...">Delete</a></p>
      </li>
   <%end%>
  </ul>

</div>
