<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Bitmaker CRM</title>
  </head>

  <body>

    <header>Bitmaker CRM</header>

      <nav>
        <ul>
          <li class = "nav_item"><a href="/contacts">Home</a></li>
          <li class = "nav_item"><a href="/contacts/new">Add a Contact</a></li>
          <li class = "nav_item"><a href="/about">About us</a></li>
        </ul>
      </nav>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; 2017 Bitmaker GA</p>
    </footer>
</body>
</html>
